.tName{
    font-size: smaller;
    margin-top: 6px;
}
.month-footer{
    margin-top: 58px;
}
.table-container{
    .table-width{
        .table{
            display: block;
            width: 100%;
            font-size: small;
        }
        display: block;
        width: 400px!important;
    }
}