.img-box{
    width: 200px;
    height: 200px;
    .rounded-circle{
        border: greenyellow solid 2px;
    }
}
@media screen and (min-width: 820px) {
    .img-box{
        margin-top: 32px;
    }
}
.edit-img{
    margin-top: -20px;
}
.name-container{
    border-bottom: solid black 1px;
}

.p-minus{
    padding-bottom: 32px;
}